body{
	background-color: #EEE;
	font-family: Georgia
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header{
	background-color: #66CCFF;
	color: white;
	text-align: center;
	text-shadow: 3px 3px black;
}
h1,h2,h3{
	margin: 0;
}

#content{
	padding: 10px;
}

#nav{
	padding: 30px;
	float: left;
}

#main{
	padding: 50px;
	float: right;
}

#footer{
	clear: both;
	padding: 10px;
	background-color: #9999
	color: white;
	text-align: center;
}